* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    /* border: 1px solid black; */
}

.header{
    background-color: #1F2937;
}

.hero {
    padding: 0 120px 50px 120px;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
}

.nav-menu {
    display: flex;
    font-size: 18px;
    gap: 50px;
}

.nav-link:link, .nav-link:visited {
    color: #E5E7EB;
}

.nav-link {
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.nav-link:hover {
    color: #56bbbb;
    background-color: #E5E7EB;
    transform: scale(.80);
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
}

.nav-logo h2 {
    font-size: 24px;
    color: #F9FAF8;
}

/* Headline */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.cta-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 35px;
    border: none;
    border-radius: 8px;
    background-color: #56bbbb;
    color: #FFFFFF;
}

.cta-btn:hover {
    cursor: pointer;
    background-color: #F9FAF8;
    color: #25b9d6;
    transition: all .2s ease-in-out;
}

img {
    object-fit: cover;
    width: 100%;
}

.hero-headline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 55%;
}

.hero-image {
    display: flex;
    width: 37%;
    justify-content: end;
}

/* Featured Projects */
.featured {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 120px 50px 120px;
    margin: 2rem 0 5rem 0;
    gap: 3rem;
}

.featured-header {
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}

.featured-header-text {
    text-align: center;
    border-radius: 10px;
    background-color: #56bbbb;
    color: #F9FAF8;
    width: 20%;
    padding: 10px;
}

.featured-text {
    font-size: 16px;
    color: #1F2937;
}

.featured-container {
    display: flex;
    justify-content: space-between;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 15%;
}

.artist-icon {
    border: 5px solid #56bbbb;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.artist-icon:hover {
    transform: scale(0.9);
}

.soundcloud-link {
    color: #1F2937;
}

.soundcloud-link:hover {
    color: #25b9d6;
    transition: 0.3s;
}

/* Quote */
.quote-container {
    background-color: #E5E7EB;
    padding: 50px 120px 50px 120px;
}

.quote-text {
    text-align: justify;
    font-size: 25px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    
}

.quote-owner {
    text-align: end;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #1F2937;
}

/* Call-To-Action */
form {
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 2rem 0;
}

label {
    display: block;
    font-size: 17px;
    color: #1F2937;
    margin: 0.5rem auto;
}

input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input[type="submit"] {
    display: block;
    width: 30%;
    margin: 1em auto;
    height: 2em;
    font-size: 17px;
    font-weight: bold;
    background-color: #1F2937;
    color: #E5E7EB;
    border-radius: 16px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #56bbbb;
    transition: all .2s ease-in-out;
}

.cta-header-text {
    text-align: center;
    border-radius: 10px;
    background-color: #56bbbb;
    color: #F9FAF8;
    width: 100%;
    padding: 10px;
}

.cta-main {
    padding: 50px 120px 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0 0;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}

.footer-link {
    color: #E5E7EB;
}

.footer-link:hover {
    color: #56bbbb;
    transition: all .2s ease-in-out;
}